body{
    background-color: #f0f0f0;
}

.principal, .menu{
    width: 100%;
}

.principal{
    background-color: rgb(248, 47, 47);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;   
    z-index: 1;
}

.conteudo-principal{
    margin: 0 auto;
}

.img-titulo, .titulo{
    vertical-align: middle;
}

.img-titulo{
    width: 60px;
    margin: 10px 10px 0 10px;
}

.titulo{
    display: inline;
    padding: 10px 0 0px 20px;
    font-size: 2rem;
    color: white;
}

.menu{
    list-style: none;
    color: white;
}

.itens-menu{
    display: inline;
    padding: 0 0 5px 20px;
    font-size: 1.5em;
}

.itens-menu:hover{
    text-decoration: underline;
    text-transform: uppercase;
}

.conteudo{
    width: 80%;
    margin: 120px auto;
    display: grid;
    place-items:  center;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px;
}

.receita{
    min-width: 300px;
    max-width: 400px;
    height: 250px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
}

.img-receita{
    margin-right: 20px;
}

.nome{
    font-size: 20px;
    font-weight: bold;
}

.nome, .categoria{
    margin: 5px 0 5px 10px;
}
